:root {
  --background-red: #2C0000;
  --shinku-red: #F20505;
  --jogi-white: #F2F2F2;
  --pinku: #F23064;
  --classic-red: #8C0303;
  font-family: 'Open Sans', sans-serif;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }  
}

body {
  background: var(--background-red);
  --webkit-font-smoothing: antialiased;
  color: var(--jogi-white);
}

main {
  align-items: center;
}

footer {
  font-size: 0.8rem;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #F23064;
}

.message {
  text-align: center;
}

.dumbass {
  text-decoration: none;
  color: var(--jogi-white);
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 1rem;
}

.loser{
  padding-left: 10rem;
}

.targets {
  display: inline-flex;
  position: relative;
  margin-left: 1rem;
}

.target {
  width: auto;
  height: auto;
  margin-top: 4rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 4rem;
  font-size: 1rem;
}

.target > img {
  border-radius: 25%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  transition: 0.8s;
}

.target > img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}

.text-classic {
  font-family: 'UnifrakturMaguntia', cursive;
  color: var(--shinku-red);
}

.text-game {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
}

.text-game > span {
  color: var(--pinku);
}

.text-game {
  cursor: url('./images/game-cursor.png');
}

.text-bar {
  font-family: 'Libre Barcode 39', cursive;
}

.text-bar-sub {
  font-family: 'Libre Barcode 39 Text', cursive;
}

.text-jap {
  font-family: 'Noto Sans JP', sans-serif;
}