@import "main.css";
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i);


html {
    background-color: #070707;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%; }

body {
    color: whitesmoke;
    font-family: 'IBM Plex Mono', monospace;
}

a {
    color: #e0ca3c;
    /* font-family: 'IBM Plex Sans', sans-serif; */
    font-weight: 900;
}

a:hover {
    color: #1c1c72;
    background-color: #e1efe6;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: white;
    font-weight: 600;
    line-height: 1.125;
}

.site-brand {
    color: #e0ca3c;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900;
    font-size: 1.8em;
    margin-left: 5px;
}

blockquote {
    color: #2d3047;
    background-color: whitesmoke;
} 

.content table thead td, .content table thead th {
    border-width: 0 0 2px;
    color: white;
}

strong {
    color: #93b7be;
}

.post {
    text-align: justify;
}

.content figure {
    text-align: left;
}