@import "main.css";


html {
    background-color: #070707;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%; }

body {
    background-color: #070707;
    color: white;
    /* font-family: 'IBM Plex Mono', monospace; */
    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    color: #e0ca3c;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
}

a:hover {
    color: #1c1c72;
    background-color: #e1efe6;
}

.clean-link {
    text-decoration: none;
}

.clean-link:hover {
    color: #1c1c72;
    background-color: #e1efe6;
}

.yellow-line {
    border-color: #e0ca3c;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: white;
    font-weight: 600;
    line-height: 1.125;
}

.site-brand {
    color: #e0ca3c;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900;
    font-size: 1.8em;
    margin-left: 5px;
}

blockquote {
    color: #2d3047;
    background-color: whitesmoke;
} 

.content table thead td, .content table thead th {
    border-width: 0 0 2px;
    color: white;
}

strong {
    color: #93b7be;
}

.post {
    text-align: justify;
}

.content figure {
    text-align: left;
}

/* footer {
    background-clip: #070707;
} */

.footer-centered {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #e0ca3c;
    text-align: center;
    margin-bottom: 1%;
}

::selection {
    background: #e0ca3c; /* WebKit/Blink Browsers */
    color: black;
  }
  ::-moz-selection {
    background: #e0ca3c; /* Gecko Browsers */
    color: black;
  }