<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/style.css">
        
        <script src="https://use.fontawesome.com/0708f38708.js"></script>
        
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
          <div class="container">
              {{ content }}
          </div>
        <footer>
            <div class="contato">
                <a class="mail" href="mailto:tassanf@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                <a class="github" href="https://github.com/tassan"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
            </div>        
        </footer>
        {% include scripts.html %}
        {% include analytics.html %}
    </body>
</html>
