---
layout: default
---

<main>
    <div class="container">
        <div class="columns">
            <div class="column is-one-fifth">
                <div class="tile is-vertical">
                    <figure class="image">
                            <img class="is-rounded" src="https://scontent.fgvr1-1.fna.fbcdn.net/v/t1.0-9/46445125_2062578330475007_8932686472713076736_n.jpg?_nc_cat=111&_nc_ht=scontent.fgvr1-1.fna&oh=2ea6fb3ed23f09f98d705356e7671e4e&oe=5CCE0A7E" alt="profile pic">
                    </figure>
                </div>
            </div>
            <div class="column">
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-vertical">
                        <articale class="tile is-child box" style="font-size: 1.4em">
                            <p class="title">Hello there!</p>
                            <p>My name is <strong>Flávio Tassan</strong>!<small style="font-size: 0.8em"> but you can call me Tassan &#x1F432;</small>
                                    <br>I'm a Brazilian &#x1F1E7;&#x1F1F7; software developer &#x1F468;&#x200D;&#x1F4BB; with knowledge in C# and .NET Core/Framework &#x1F916;.
                                    I'm also in love with Python and Django! &#x1F40D;
                            </p>
                        </articale>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box is-primary">
                            <p class="title">
                                Where's Tassan?
                            </p>
                            <p class="subtitle">
                                Currently living in <a href="https://goo.gl/maps/MG2nNnMJLC22">Governador Valadares, Minas Gerais</a>. &#x1F3E0; <br>
                                And working at <a href="https://www.univale.br/capa/">UNIVALE</a> &#x1F4BC;
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-danger">
                            <p class="title">How to Contact me?</p>
                            <p class="subtitle">Be free to send a smoke signal on <a href="https://twitter.com/ftassan">twitter</a> &#x1F426; or <a href="mailto:ftassan@outlook.com">mail me</a> &#x1F4E7; and you can always check my code at <a href="https://github.com/tassan">github </a>:octocat:</p>
                            <small>I'm always looking for a freelancer contract, so hurry up and get in touch with me &#x1F64A; </small>
                        </article>
                    </div>
                </div>
                <section class="section">
                    <span style="color:#e0ca3c;">LATEST POSTS</span>
                    <hr>
                    {% for post in site.posts offset:1 limit:3 %}
                        <div class="tile">
                            <h1 class="title is-centered">
                                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                            </h1>
                            <br />
                            <small class="">{{ post.date | date_to_string }}</small>
                        </div>                  
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
</main>