---
layout: default
---

<main>
    <div class="container">
            <div class="columns">
                    <div class="column is-one-fifth">
                        <img src="https://scontent.fgvr1-1.fna.fbcdn.net/v/t1.0-9/46445125_2062578330475007_8932686472713076736_n.jpg?_nc_cat=111&_nc_ht=scontent.fgvr1-1.fna&oh=2ea6fb3ed23f09f98d705356e7671e4e&oe=5CCE0A7E" alt="profile pic">
                    </div>
                    <div class="column">
                        <p>Olá! Meu nome é Flávio Tassan.
                            Brasileiro &#x1F1E7;&#x1F1F7;, nativo de Governador Valadares, no leste mineiro.
                            Oficialmente um desenvolvedor de software, extra-oficialmente: alguém procurando ir além do código para solucionar problemas, enquanto procura tempo para concluir todos os jogos que tem para jogar e os livros que tem para ler. </p>
                            <a href="/blog/">Blog</a>
                            <!-- <a href="https://twitter.com/ftassan" target="_blank">:bird:</a>
                            <a href="mailto:ftassan@outlook.com">:email:</a>
                            <a href="https://github.com/tassan" target="_blank">:octocat:</a> -->
                    </div>
                </div>
    </div>
</main>

{{ content }} 